.modal-active {
    overflow-y: hidden;
}

.overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    background: rgba(0,0,0,0.7);
}

.signup-container {
    position: fixed;
    background-color: orange;
    top: 15%;
    left: 60%;
    padding: 0 30px 20px 30px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.6) 5px 5px;
    max-width: 400px;
}

.signup-form h3 {
    font-size: 24px;
    margin: 10px;
    text-align: center;
}

.signup-form input {
    margin: 5px 0 10px 0;
    padding: 5px;
    width: 100%;
    border: 1px solid black;
    border-radius: 4px;
    background-color: lightgrey;
}

.signup-form input:focus {
    background-color: white;
    outline: none;    
}

.signup-form label {
    font-weight: bold;
}

.signup-names {
    display: flex;
}

.signup-last {
    margin: 0 0 0 20px;
}

.button-div {
    margin-top: 5px;
    text-align: center;
}

.signup-form button {
    background-color: lightgreen;
    padding: 3px;
    width: 85%;
    border: 1px solid black;
    border-radius: 4px;
    font-size: 15px;
    font-weight: bold; 
}

.signup-form button:hover {
    background-color: rgb(76, 146, 76);
}